*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif; /*Font*/
}

/*header class options*/
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/Untitled.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

/*This sets style options for nav*/
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

/*This adds some additional perameters to the navigation image*/
nav img{
  width: 150px;
}

/*nav-links class declaration and settings*/
.nav-links{
  flex: 1;
  text-align: right;
}

/*additional settings for ul and li within nav-links class*/
.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

/**additional settings for ul, li, and a within nav-links class**/
.nav-links ul li a{
  color: #fff;            /*changes ugly purple link color*/
  text-decoration: none;  /*removes ugly link decoration / underline*/
  font-size: 13px;
}

/*This makes the little lines underneath the navication links*/
.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

/*This assists with the above function to make the little lines animate*/
.nav-links ul li:hover::after{
  width:100%;
}

/*text box class*/
.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1{
  font-size: 62px;
}

.text-box p{
  margin: 10px 0 40px; /* 10px margin from the top, 0 margin left/right 40 from the bottom */
  font-size: 14px;
  color: #fff;
}

.cool-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.cool-btn:hover{

}
